{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <script type="text/javascript" src="{% static "js/jquery-1.12.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <style>
        .footer {
            border-top: 1px solid #ccc;
            padding-top: 0px;
        }

        .footer p {
            padding-top: 10px;
        }

        .footer a {
            font-size: 12px;
        }

        .footer a:hover {
            color: #EC5051;
        }
    </style>
</head>

<body>
<form action="{% url 'sm:login' %}" method="post" id="login-view">
    {% csrf_token %}

    <div class="login_title">
        <a href="{% url 'sm:index' %}">
            <img src="{% static 'img/login/logo_2015.png' %}" alt="logo"/>
        </a>
        <b></b>
    </div>
    <div class="login_contant">
        <i></i>
        <div id="login">
            <div class="login_information">
                <div class="mt">
                    <h1>欢迎登录</h1>
                    <a href="{% url 'sm:register' %}">免费注册</a>
                </div>
                <div class="mc">
                    <div class="msg_wrap">
                        <b></b>
                        <div class="msg_error">
                           用户名或密码错误



                        </div>
                    </div>
                    <div class="form">
                        <div class="id">
                            <div class="user_id">
                                <i></i>
                                <input type="text" name="username" placeholder="用户名/邮箱/手机" id="loginname"/>
                            </div>
                        </div>
                        <div class="login_item">
                            <div class="item_info">
                                <i></i>
                                <input type="password" name="password" id="psw" placeholder="密码"/>

                            </div>
                            {% if err %}
                                    <p style="color: red">{{ err }}</p>
                                {% endif %}
                        </div>
                        <div class="safe">
                            <input type="checkbox" id="remember"/>
                            <label>请保存我这次的登录信息。</label>
                        </div>
                        <div class="login_item">
								<span style="margin: 13px 0px 0px 30px;display: block;width: 76px;float: left;height: 14px;">
									<a href="#">忘记密码？</a>
								</span>
                            <div class="log">
                                <input type="submit" name="button" id="login_button" value="登&nbsp;&nbsp;录"/>
                            </div>
                        </div>
                    </div>
                    <div class="coagent" style="overflow: hidden;padding-top: 25px;">
                        <h6 style="font-weight: normal;color: #9fa0a0;float: left;width: 100%;">用第三方账号直接登录：</h6>
                        <ul>
                            <li>
                                <a href="#" style="background-position: -306px -307px;" class="qq"></a>
                            </li>
                            <li>
                                <a href="#" style="background-position: -369px -307px;" class="sina"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="footer" style="background: #fff;">
    <div class="copyright">
        <p class="footer_ecscinfo" style="line-height: 25px;">
            <a href="#">首页 </a>|
            <a href="#">隐私保护</a>|
            <a href="#">联系我们</a>|
            <a href="#">免责条款</a>|
            <a href="#">公司简介</a>|
            <a href="#">商家入驻</a>|
            <a href="#" style="border: 0px;">意见反馈</a>
        </p>
        <p>
            <a href="#">模板堂</a>|
            <a href="#">ECjia</a>|
            <a href="#">ECtouch</a>|
            <a href="#">电竞学院</a>|
            <a href="#">ecshop模板堂</a>|
            <a href="#">ECjia</a>|
            <a href="#">ECtouch</a>|
            <a href="#">大商创</a>
        </p>
        <p style="line-height: 18px;">
            <a href="#">Powered by<span style="color: #ec5051;padding-left: 5px">大商创1.0</span></a>
        </p>
        <p style="padding-top: 10px;">
            <a href="#"><img src="{% static 'img/images/闪猫商城-您的一站式购物平台_03.gif' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/images/闪猫商城-您的一站式购物平台_05.gif' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/images/闪猫商城-您的一站式购物平台_07.gif' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/images/闪猫商城-您的一站式购物平台_09.gif' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/images/闪猫商城-您的一站式购物平台_11.gif' %}" alt=""></a>
        </p>
    </div>
</div>
</div>
</body>

</html>